<h1>Peliculas#tardes_decine2</h1>

<table border="1">
  <thead>
    <tr>
      <th>Peliculas</th>
    </tr>
  </thead>
  <tbody>
      

      <tr>
        <td>"Series"</td>
      </tr>
    
  </tbody>
</table>




<p>Encuentralas in app/views/pages/tardes_decine2.html.erb</p>
<form_with="method=">
<input name="index">
<input name="create">
<input type="submit" value="Enviar">
</form>
